@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
  font-family: 'Dosis', sans-serif;
}


.react_icons{
  padding-bottom:5px
}

.values{
    border-radius: 55%;
    object-fit: contain;
  }

.values:hover{
  width:6.5rem;
  height:6.5rem;
  transition:500;
}

.myImg{
    border-radius: 55%;
    border: rgb(59 130 246) 0.5px solid ;
    object-fit: fill;
    margin-top: 25rem;
    box-shadow: 10px 7px 5px -7px rgba(0,0,0,0.39);
    -webkit-box-shadow: 10px 7px 5px -7px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 7px 5px -7px rgba(0,0,0,0.39);
  }

.intro{
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 2.3rem;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 20px;
}

.intro2{
  font-size: 2.8rem;
  font-weight: 400;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 12px;
}


#sm_desc{
  text-shadow: 5px 1px 7px rgba(0,0,0,0.42);
}

#nav_name{
  text-shadow: 1px 1px 2px black;
}

.testimonial_imgs{
  border-radius:55%;
  object-fit: contain;
  display: inline-block;
  align-items:center ;
  justify-content: center;
}

